* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #dc1e28;
  --secondary-color: #ffba14;
  --black-color: black;
  --roboto: "Roboto", sans-serif;
}
body {
  font-family: "Roboto", sans-serif;
}

/* Banner-page Title */

section.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: calc(100vh - 600px);
  background-color: var(--primary-color);
  overflow: hidden;
}

.page-title h1 {
  font-size: 3rem;
  font-family: var(--roboto);
  font-weight: 800;
  color: white;
  margin-top: 6.3rem;
}

.links-pages {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links-pages li {
  list-style: none;
  margin: 0 20px;
  font-size: 1.5rem;
  font-family: var(--roboto);
}
.pd-area {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 660px);
}
.links-pages li a {
  font-family: var(--roboto);
  text-decoration: none;
  color: var(--black-color);
  position: relative;
}
.links-pages li a:after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--secondary-color);
  height: 2px;
  transition: 0.2s;
}

.links-pages li a:hover:after {
  width: 100%;
}

/* Tabs-section */

[data-tab-content] {
  display: none;
}
.active[data-tab-content] {
  display: block;
}
.tab.active {
  background-color: var(--secondary-color) !important;
}
.tab:hover {
  background-color: var(--secondary-color) !important;
}

.tab-content {
  margin-left: 0;
  margin-right: 0;
}

ul.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 33px 0;
}

ul.tabs .tab {
  margin: 0 2px;
  padding: 10px 16px;
  color: black;
  transition: 0.5s;
}

.player-box {
  max-width: 230px;
  /* border: 1px solid; */
  overflow: hidden;
  position: relative;
  text-align: center;
}

.player-box h4 {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 1.2rem;
}
.player-box {
  max-width: 230px;
  /* border: 1px solid; */
  overflow: hidden;
  position: relative;
  text-align: center;
  /* background: rebeccapurple; */
  padding-top: 40px;
  box-sizing: border-box;
  z-index: 9;
}

.player-box h4 {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 1.2rem;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
  opacity: 1;
  z-index: 999999;
  color: white;
}

.login-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: red;
  padding: 9px 9px;
  color: white;
  transition: 0.5s;
  opacity: 0;
  z-index: 99;
}

.login-message a {
  color: white;
  text-decoration: none;
}
.player-img {
  margin-bottom: -3px;
}
.player-box:hover h4.player-text {
  opacity: 1;
}

.player-box:hover .login-message {
  opacity: 1;
}
.player-box::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(0deg, #00000075, transparent);
  width: 100%;
  height: 100%;
  z-index: 1;
}


/* Player Inner Page */

section.inner-banner {
  background-color: var(--primary-color);
  overflow: hidden;
  padding: 50px 0 0 0;
}
.player-informations h1 {
  font-size: 45px;
  color: white;
  line-height: 66px;
  margin-bottom: 20px;
  font-weight: bold;
}
.player-informations p, .player-informations p a {
  font-size: 25px;
  color: white;
  /* text-decoration: none; */
  line-height: 41px;
}
.averge-text p {
  font-size: 19px;
  text-align: center;
}

.averge-text h4 {
  color: white;
  font-size: 30px;
}

.averge-text {
  margin: 60px 0 0 0;
}
.below-text p {
  font-size: 15px;
  text-align: center;
}

.player-informations {
  width: fit-content;
}
.player-informations h1 a {
  color: white;
}
.player-banner-img {
  margin-bottom: -5px;
}

/* inner Tabs table */

.table > thead tr th {
  background: var(--primary-color);
  font-size: 20px;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.table > tbody {
  vertical-align: middle;
}
.table > tbody tr {
  border-bottom: 1px solid #c1c1c1;
}
h4.tabs-head {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 800;
}
th.colspan-text {
  font-size: 16px;
  font-weight: 500;
}
.table-rows {
  margin-bottom: 50px;
}